{% extends "navigation_bar_layout.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/admin-notification-style-sheet.css') }}">
{% endblock head %}

{% block body %}
    
    <main class="main-content">

        <div class="left-widget">
            <a href="{{ url_for('admin.admin_dashboard') }}">ADMIN_DASHBOARD</a>
            <br><br>
            <a href="{{ url_for('admin.admin_notification') }}">ADMIN_NOTIFICATIONS</a>
            <br><br>
            <a href="{{ url_for('admin.admin_logout') }}">LOGOUT_ADMIN</a>
        </div>

        <div class="display">
            <section class="contact-messages">
                <h1>Contact Messages</h1>
                <table class="messages-table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Message</th>
                            <th>Time</th>
                            <th>Attended To</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for data in datas %}
                            {% set key = list(data.keys())[0] %}
                            <tr>
                                <td>{{ data.get(key).get('sender') }}</td>
                                <td>{{ data.get(key).get('sender_email') }}</td>
                                <td class="show_hidden">{{ data.get(key).get('message_subject')[:40] }}...
                                    <p class="hidden_message" > {{ data.get(key).get('message') }} </p>
                                </td>
                                <td>{{ key }}</td>
                                <td><input type="checkbox" class="attended-checkbox"></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </section>
        </div>
    </main>

    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

{% endblock body %}


