{% extends "navigation_bar_layout.html" %}

{% block head %}

<link rel="stylesheet" href="{{ url_for('static', filename='styles/audio-view-style-sheet.css') }}">

{% endblock head %}


{% block body %}
<div class="hero" style="background-image: url('{{ url_for('static', filename='system_files/img/audio-play-background.png') }}');">
        <img src="{{ url_for('static', filename='system_files/img/audio-play-image.png') }}" alt="Hero Image" class="hero-image">
        <div class="hero-content">
        <!-- Your hero content here -->
        <h1>Echodat</h1>
        <h2>Magic Audio</h2>
        <p>I am in love with this musical App, can't wait to test it</p>
        </div>
    </div>


    <div class="row">
        <!-------left column ----------------------------------------->
        <div class="column left">
          <div class="artist-info">
            <div class="artist-image">
              <img src="{{ url_for('static', filename='users_profile_avatar/' + get_user_avatar_name(audio.creatorId)) }}" alt="Artist Image" class="circular-image">
            </div>
            <h5 class="artist-name">{{ audio.artist }}</h5>
            <h2>@{{ audio.creator.userName.lower() }}</h2>
            <p class="genre">Genre of Music:</p>
            <h6>#{{ audio.genre }}</h6>
            <div class="ratings">
              <i class="fa fa-star yellow"></i>
              <i class="fa fa-star yellow"></i>
              <i class="fa fa-star yellow"></i>
              <i class="fa fa-star yellow"></i>
              <i class="fa fa-star"></i>
            </div>
          </div>
        </div>
      
        <!------------------middle column-------------------------------->
        <div class="column middle">
          <div class="audio-player">
            <audio id="audio" preload="auto">
              <source src="{{ url_for('static', filename='users_data/audios/' + get_audio_filename_by_id(audio._id)) }}" type="audio/mpeg">
              Your browser does not support the audio element.
            </audio>
            <div class="controls">
              <input type="range" id="seek-bar" value="0">
              <div class="volume">
                <button id="mute">Mute</button>
                <input type="range" id="volume-bar" min="0" max="1" step="0.1" value="1">
              </div>
              <button id="play-pause" class="play">Play</button>
              <div class="time">
                <span id="current-time">0:00</span> / <span id="duration">0:00</span>
              </div>
            </div>
          </div>
          <div class="song-info">
            <div class="song-image">
              <img src="{{ url_for('static', filename='users_data/audios/avatar/' + get_audio_filename_by_id(audio._id, is_avatar=True)) }}" alt="Song Image">
            </div>
            <h3 class="song-title">Song Title: {{ audio.title }}</h3>
            <div class="song-actions">
              <i class="fa fa-thumbs-up"></i> Likes
              <i class="fa fa-heart"></i> Love
              <i class="fa fa-share"></i> Share
            </div>
            <div class="song-stats">
                <span>{{ audio.likesCount }} Likes |</span>
                <span>{{ audio.creator.followers }} Followers</span>
              </div>
          </div>
        </div>
      
        <!----------------right column---------------------------------->
        <div class="column right">

            <div class="artist-info">
              <h1 class="artist-name">ABOUT</h1>
              <p>{{ audio.caption }}</p>
              <p>Created At: {{ audio.created_at }}</p>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="column full">
          <h2>{{ len(messages) }} COMMENTS</h2>

          <div class="comment-box">
            <h3>Add Comment</h3>
            <form action="" method="post">
                {{ form.hidden_tag() }}
                {{ form.comment(class='light-green-bg') }}
                {{ form.submit(class='save-button') }}
            </form>
          </div>

         
          <div class="comment-container">
            {% for message in messages %}
                <div class="comment">
                    <div class="comment-avatar">
                        <img src="{{ url_for('static', filename='users_profile_avatar/' + get_user_avatar_name(message.creatorId)) }}" alt="User Avatar" class="circular-image">
                    </div>
                    <div class="comment-content">
                        <div class="comment-header">
                            <span class="comment-username yellow-text">{{ message.creator.userName }}</span>
                            <span class="comment-time">{{ message.created_at }}</span>
                        </div>
                        <div class="comment-body">
                            <p>{{ message.message }}</p>
                        </div>
                        
                    </div>
                </div>
            {% endfor %}
    
            {% if len(messages) == 0 %}
                <p>No comments yet. Be the first to comment!</p>
            {% endif %}
        </div>

          
        </div>
      </div>
    
    
{% endblock body %}

{% block script %} 
<script src="{{ url_for('static', filename='scripts/audio-player.js') }}"></script>
{% endblock script %}