{% extends "navigation_bar_layout.html" %}

{% block head %}

<link rel="stylesheet" href="{{ url_for('static', filename='styles/audio-view-style-sheet.css') }}">

{% endblock head %}


{% block body %}
    <div class="profile-header">
        <div class="profile-pic">
            <img src="{{ url_for('static', filename='users_profile_avatar/' + get_user_avatar_name(audio.creator._id)) }}" alt="Profile Picture">
        </div>
        <div class="profile-info">
            <h1>{{ audio.creator.userName }}</h1>
            <p>@{{ audio.creator.userName.lower() }}</p>
        </div>
    </div>

    <div class="music-header">
        <img src="{{ url_for('static', filename='system_files/img/default_user_cover_avatar.jpg') }}" alt="Waveform">
    </div>

    <div class="music-info">
        <img src="{{ url_for('static', filename='system_files/img/default_audio_avatar.jpeg') }}" alt="Album Cover">
        <div class="music-details">
            <h2>{{ audio.artist }}</h2>
            <p>{{ audio.title }}</p>
            <p>Released Date: {{ audio.created_at }} by {{ audio.creator.userName }}</p>
            <div class="tags">
                <span>#{{ audio.genre }}</span>
                <span>#{{ audio.mood }}</span>
            </div>
        </div>
    </div>

    <div class="audio-player">
        <audio id="audio" preload="auto">
            <source src="{{ url_for('static', filename='users_data/' + get_audio_filename_by_id(audio._id)) }}" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
        <div class="controls">
            <button id="play-pause" class="play">Play</button>
            <div class="time">
                <span id="current-time">0:00</span> / <span id="duration">0:00</span>
            </div>
            <input type="range" id="seek-bar" value="0">
            <div class="volume">
                <button id="mute">Mute</button>
                <input type="range" id="volume-bar" min="0" max="1" step="0.1" value="1">
            </div>
        </div>
    </div>


    <div class="music-stats">
        <div class="stat">
            <p>533</p>
            <p>Followers</p>
        </div>
        <div class="stat">
            <p>178K</p>
            <p>Total Plays</p>
        </div>
        <div class="stat">
            <p>{{ audio.likesCount }}</p>
            <p>Likes</p>
        </div>
    </div>

    

    <div class="comments">
        <h3>{{ len(messages) }} COMMENTS</h3>
        <div class="comment-box">
            <img src="{{ url_for('static', filename='users_profile_avatar/' + get_user_avatar_name(current_user._id)) }}" alt="User Picture">
            <form action="" method="post">
                {{ form.hidden_tag() }}

                <div class="form-group">
                    {{ form.comment(class='commenting-textarea') }}
                    {% for error in form.comment.errors %}
                        <p style="color: red; background-color: aliceblue;">{{ error }}</p>
                    {% endfor %}
                </div>

                <div class="form-group">
                    {{ form.submit(class='commenting-button') }}
                </div>
            </form>
            
        </div>
       
    </div>



    <div class="comments-section">
        {% for message in messages %}
            <div class="comment">
                <div class="comment-avatar">
                    <img src="{{ url_for('static', filename='users_profile_avatar/' + get_user_avatar_name(message.creator._id)) }}" alt="User Avatar">
                </div>
                <div class="comment-content">
                    <div class="comment-header">
                        <span class="comment-username">{{ message.creator.userName }}</span>
                        <span class="comment-time">{{ message.created_at }}</span>
                    </div>
                    <div class="comment-body">
                        <p>{{ message.message }}</p>
                    </div>
                    <!-- <div class="comment-footer">
                        <span class="comment-likes">4 <i class="fa fa-thumbs-up"></i></span>
                        <span class="comment-dislikes">0 <i class="fa fa-thumbs-down"></i></span>
                        <span class="comment-reply">REPLY</span>
                    </div> -->
                </div>
            </div>
        {% endfor %}

        {% if len(messages) == 0 %}
            <p>No comments yet. Be the first to comment!</p>
        {% endif %}
    </div>


    <script src="{{ url_for('static', filename='scripts/audio-player.js') }}"></script>
{% endblock body %}