{% extends "dashboard_layout.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/dashboard-style-sheet.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/user_group_management-style-sheet.css') }}">
{% endblock head %}

{% block display %}
<div class="profile-edit-section group-list-diplay">
    <div class="create-group-form">
        <h2>Create a New Group</h2>
        
        <form action="" method="POST">
            {{ form.hidden_tag() }}

            {{ form.name.label }}
            {{ form.name }}
            {% for error in form.name.errors %}
                <p style="color: red; background-color: aliceblue;">{{ error }}</p>
            {% endfor %}

            {{ form.description.label }}
            {{ form.description }}
            {% for error in form.description.errors %}
                <p style="color: red; background-color: aliceblue;">{{ error }}</p>
            {% endfor %}

            {{ form.create }}
            
        </form>

    </div>
</div>
{% endblock display %}