{% extends "dashboard_layout.html" %}


{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/new-dashboard-style-sheet.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/main-dashboard-style-sheet.css') }}">
{% endblock head %}


{% block display %}

    <div class="user-info">
      <h2>WELCOME, <small>{{ current_user.userName }}</small></h2>
      <ul>
        <li>SOngs Released</li>
        <div class="value">{{ response1.get('total_songs') }}</div>
        <li>Followers</li>
        <div class="value">{{ current_user.followers }}</div>
        <li>Groups</li>
        <div class="value">{{ response1.get('total_groups') }}</div>
      </ul>
    </div>

    <div class="manages-songs-info">
      <button class="manages-songs" >Managed Songs
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368"><path d="M468-240q-96-5-162-74t-66-166q0-100 70-170t170-70q97 0 166 66t74 162l-84-25q-13-54-56-88.5T480-640q-66 0-113 47t-47 113q0 57 34.5 100t88.5 56l25 84ZM821-60 650-231 600-80 480-480l400 120-151 50 171 171-79 79Z"/></svg>
      </button>
      <div class="songs-table">
        <table>
          <thead>
            <tr>
              <th>TITLE</th>
              <th>ARTIST</th>
              <th>LIKES</th>
              <th>COMMENTS</th>
              <th>RELEASED</th>
              <th>UPDATED</th>
              <th>ACTION</th>
            </tr>
          </thead>
          <tbody>
            {% set songs =  response1.get('user_songs') %}
            {% for song in songs %}
              <tr>
                <td>{{ song.title }}</td>
                <td>{{ song.artist }}</td>
                <td>{{ song.likesCount }}</td>
                <td>{{  response1.get('object_len')(song.comments) }}</td>
                <td>{{ song.created_at }}</td>
                <td>{{ song.updated_at }}</td>
                <td style="background-color: rgb(184, 0, 0);"><a href="{{ url_for('auth.delete_song_by_id', song_id=song._id) }}" style="color: aliceblue; text-decoration: none;">DELETE</a></td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
      </div>
    </div>




    <div class="manages-groups-info">
      <button class="manages-groups" >Managed Groups
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368"><path d="M468-240q-96-5-162-74t-66-166q0-100 70-170t170-70q97 0 166 66t74 162l-84-25q-13-54-56-88.5T480-640q-66 0-113 47t-47 113q0 57 34.5 100t88.5 56l25 84ZM821-60 650-231 600-80 480-480l400 120-151 50 171 171-79 79Z"/></svg>
      </button>
      <div class="groups-table">
        <table>
          <thead>
            <tr>
              <th>NAME</th>
              <th>MEMBERS</th>
              <th>AUDIOS</th>
              <th>LYRICS</th>
              <th>FILES</th>
              <th>CREATED</th>
            </tr>
          </thead>
          <tbody>
            {% set groups_id =  response1.get('user_groups_id') %}
            {% for group_id in groups_id %}
              <tr>
                {% set group_info = get_group_info(group_id) %}
                {% set group = get_object_by_id(group_id, 'GroupInfo') %}
                <td>{{ group.name }}</td>
                <td>{{ group_info.get('members') }}</td>
                <td>{{ group_info.get('audios') }}</td>
                <td>{{ group_info.get('lyrics') }}</td>
                <td>{{ group_info.get('files') }}</td>
                <td>{{ group.created_at }}</td>
              </tr>
            {% endfor %}
          </tbody>
          </table>
      </div>
    </div>


    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script>
            document.querySelectorAll('.manages-songs').forEach(button => {
          button.addEventListener('click', () => {
              const answer = button.nextElementSibling;
              button.classList.toggle('active');
              if (button.classList.contains('active')) {
                  answer.style.display = 'block';
              } else {
                  answer.style.display = 'none';
              }
          });
      });

      document.querySelectorAll('.manages-groups').forEach(button => {
          button.addEventListener('click', () => {
              const answer = button.nextElementSibling;
              button.classList.toggle('active');
              if (button.classList.contains('active')) {
                  answer.style.display = 'block';
              } else {
                  answer.style.display = 'none';
              }
          });
      });
    </script>

{% endblock display %}