<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Echodat - {{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/login-style-sheet.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/flash-message-style-sheet.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
    
    <div class="login-container">
        <div class="flash-message-cotainer">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                    <div class="flash-message {{ category }}">
                        {{ message }}
                    </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
        <a href="{{ url_for('unauth.homepage') }}">
            <img src="{{ url_for('static', filename='system_files/img/logo11.png') }}" alt="ECHODAT Logo" class="logo">
        </a>
        <h2>RESET YOUR PASSWORD</h2>
        <form action="" method="POST">
            {{ form.hidden_tag() }}

            <div class="form-group">
                {{ form.newPassword.label }}
                {{ form.newPassword }}
                {% for error in form.newPassword.errors %}
                    <p style="color: red; background-color: aliceblue;">{{ error }}</p>
                {% endfor %}
            </div>

            <div class="form-group form-group-checkbox">
                    {{ form.confirmPassword.label }}
                    {{ form.confirmPassword }}
                    {% for error in form.confirmPassword.errors %}
                        <p style="color: red; background-color: aliceblue;">{{ error }}</p>
                    {% endfor %}
            </div>
            
            <div class="form-group">
                {{ form.reset(type="submit") }}
            </div>

            <div class="space-between-line-and-link"></div>
           
           
        </form>
    </div>
    <script src="{{ url_for('static', filename='scripts/flash-message.js') }}"></script>
</body>
</html>
