{% extends "dashboard_layout.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/new-dashboard-style-sheet.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/user_group_management-style-sheet.css') }}">
{% endblock head %}

{% block display %}
<div class="profile-edit-section group-list-diplay">
    <div class="group-list">
        <h2>Groups</h2>
        <ul>
            {% for group in groups %}
                <li><a href="{{ url_for('group.group_workspace', group_id=group.group_info._id) }}">{{ group.group_info.name }}</a></li>
            {% endfor %}
            <li><a href="{{ url_for('group.create_group') }}"> 😜 Create New Group</a></li>
        </ul>
    </div>
</div>
{% endblock display %}