.main-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 10vh;
    height: 100vh;
    overflow-y: scroll;
    scrollbar-width: none;
}

.contact-messages {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-messages h1 {
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
}

.messages-table {
    width: 100%;
    border-collapse: collapse;
}

.messages-table th,
.messages-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.messages-table th {
    background-color: #f4f4f4;
    font-weight: bold;
}

.messages-table tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}

.attended-checkbox {
    transform: scale(1.5);
    cursor: pointer;
}

.footer {
    background-color: #121212;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}