.profile-header {
    display: flex;
    align-items: center;
    padding: 20px;
    margin-top: 10vh;
}

.profile-pic img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin-right: 20px;
}

.profile-info h1 {
    margin: 0;
    font-size: 24px;
}

.profile-info p {
    margin: 5px 0 0;
    color: #ccc;
}

.music-header {
    background-color: #222;
    text-align: center;
    padding: 20px 0;
}

.music-header img {
    width: 100%;
    max-width: 800px;
}

.music-info {
    display: flex;
    padding: 20px;
    border-bottom: 1px solid #333;
}

.music-info img {
    width: 150px;
    height: 150px;
    margin-right: 20px;
}

.music-details h2 {
    margin: 0;
    font-size: 24px;
}

.music-details p {
    margin: 5px 0;
    color: #ccc;
}

.tags span {
    display: inline-block;
    background-color: #555;
    padding: 5px 10px;
    border-radius: 3px;
    margin-right: 5px;
}

.music-stats {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    border-bottom: 1px solid #333;
}

.stat p {
    margin: 0;
    text-align: center;
}

.stat p:first-child {
    font-size: 24px;
}

.release-info {
    padding: 20px;
    border-bottom: 1px solid #333;
}

.release-info p {
    margin: 10px 0;
    color: #ccc;
}

.detailed-stats {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
}

.comments {
    padding: 20px;
}

.comments h3 {
    margin: 0 0 20px;
}

.comment-box {
    display: flex;
    align-items: center;
}

.comment-box img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.comment-box form{
    width: 90vw;
}

.comment-box .commenting-textarea {
    flex: 1;
    padding: 10px;
    border: 1px solid #555;
    border-radius: 3px;
    background-color: #222;
    color: #fff;
    margin-right: 10px;
    width: 80vw;
    resize: vertical;
}

.comment-box .commenting-button {
    padding: 10px 20px;
    border: none;
    background-color: #ff6600;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
}

.comment-box button:hover {
    background-color: #ff8533;
}

.comments p {
    margin: 20px 0 0;
    color: #ccc;
}


.comments-section {
    width: 50%;
    margin: 20px auto;
}

.comment {
    display: flex;
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: 1px solid #333;
}

.comment-avatar {
    margin-right: 10px;
}

.comment-avatar img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.comment-content {
    flex-grow: 1;
}

.comment-header {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.comment-author {
    font-weight: bold;
    margin-right: 10px;
}

.comment-username {
    color: #f39c12;
    margin-right: 10px;
}

.comment-time {
    font-size: 0.9em;
    color: #999;
}

.comment-body {
    margin-bottom: 10px;
}

.comment-footer {
    display: flex;
    align-items: center;
    font-size: 0.9em;
    color: #999;
}

.comment-footer span {
    margin-right: 15px;
}

.comment-likes i,
.comment-dislikes i {
    margin-left: 5px;
    color: #f39c12;
}

.comment-reply {
    color: #f39c12;
    cursor: pointer;
}




.audio-player {
    background-color: #222;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 70vw;
    margin: auto;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.controls {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    background-color: #f39c12;
    border: none;
    color: #fff;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
}

button:focus {
    outline: none;
}

input[type="range"] {
    width: 100%;
    margin: 10px 0;
}

.time {
    margin: 10px 0;
}

.volume {
    display: flex;
    align-items: center;
}

.volume button {
    margin-right: 10px;
}
