.user-info{
    display: flex;
    width: 80%;
    margin: auto;
    margin-top: 10vh;
    flex-direction: row;
    padding: 10px;
    border-radius: 10px;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(94, 92, 92, 0.171);
    background-color: rgba(3, 53, 1, 0.952);
    color: aliceblue;
}

.user-info h2{
    font-size: 40px;
}

.user-info ul{
    list-style: none;
}

.user-info .value{
    padding: 10px;
    background-color: aliceblue;
    margin: 4px;
    border-radius: 5px;
    /* border-top: 2px solid black; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.253);
    color: rgb(31, 31, 31);
    text-align: center;
}

.manages-songs-info{
    margin: auto;
    padding-top: 20vh;
    margin-bottom: 5vh;
}

.manages-groups-info{
    margin: auto;
    margin-bottom: 20vh;
}

.manages-groups,
.manages-songs{
    padding: 20px;
    width: 90%;
    color: rgba(3, 53, 1, 0.952);
    font-size: 18px;
    font-weight: 900;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.219);
    margin: auto;
    background-color: rgb(255, 255, 255);
    margin-left: 5%;
    border-radius: 10px;
    font-family: inherit;
    cursor: pointer;
}

.manages-groups:hover,
.manages-songs:hover{
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.219);
}

.manages-groups-info .groups-table,
.manages-songs-info .songs-table{
    display: none;
    color: black;
    padding: 2%;
}

.groups-table table,
.songs-table table{
    width: 97%;
    padding: 5%;
    box-shadow: 0 0 10px rgba(77, 75, 75, 0.5);
    margin: auto;
}

.groups-table table thead th,
.songs-table table thead th{
    background-color: rgba(3, 53, 1, 0.952);
    padding: 5px;
    color: aliceblue;
}

.groups-table table td,
.songs-table table td{
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(77, 75, 75, 0.5);
}

.groups-table table td:hover,
.songs-table table td:hover{
    box-shadow: 0 0 10px rgba(77, 75, 75, 0.5);
}