/* Global styles */
body {
    background-color: rgb(0, 0, 0);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    padding: 5vh;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.signup-container {
    max-width: 400px;
    background-color: rgba(128, 140, 140, 0.5);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 40px 100px;
    text-align: center;
}

.signup-container .logo {
    margin-top: 0;
    max-width: 150px;
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

/* Remember Me checkbox and label alignment */
.form-group-checkbox {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

/* Google button styles */
.google-button {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Changed from center to space-between */
    background-color: #4285F4;
    color: white;
    border: none;
    border-radius: 20px;
    height: 40px;
    text-align: left;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;
    padding: 12px 120px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.google-button:hover {
    background-color: #357ae8;
}

.google-icon {
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

.or-container {
    display: flex;
    align-items: center;  
    justify-content: center;
    margin-bottom: 40px;
}

.or-line {
    flex: 1;
    border: none;
    border-bottom: 1px solid #ccc;
}

.or-text {
    font-size: 16px;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
}


label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-sizing: border-box;
}

label[for="confirmPassword"] {
    display: block;
    margin-bottom: 5px;
    text-align: left;
}

input[type="confirmPassword"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 12px 0;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    width: 100%;
    margin-bottom: 40px;
    margin-top: 30px;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}